{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <!-- Заголовок с большим отступом -->
  <h1 class="text-center mb-5" style="margin-top: 50px;">Контакты</h1>
  
  <div class="row m-4">
    <!-- Контактная информация -->
    <div class="col-md-5">
      <h2 class="mb-4">Наши контакты</h2>
      <p><i class="fas fa-map-marker-alt"></i> Адрес: г. Казань, ул. Примерная, д. 1</p>
      <p><i class="fas fa-phone"></i> Телефон: <a href="tel:+79393607018">+7 (939) 360-70-18</a></p>
      <p><i class="fas fa-envelope"></i> Email: <a href="mailto:kzn.morozko@gmail.com">kzn.morozko@gmail.com</a></p>
      <p><i class="fas fa-clock"></i> Режим работы: Пн-Пт с 9:00 до 18:00</p>
    </div>

    <!-- Карта -->
    <div class="col-md-5">
      <h2 class="mb-4">Как нас найти</h2>
      <div class="embed-responsive embed-responsive-16by9">
          <iframe 
              class="embed-responsive-item" 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.953909947976!2d49.211953!3d55.800911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41597c890f054ae5%3A0x0!2z0JzQvtGB0LrQvtCy0YHQutCw!5e0!3m2!1sru!2sru!4v1638214068033!5m2!1sru!2sru" 
              width="120%" 
              height="450" 
              style="border:0;" 
              allowfullscreen="">
          </iframe>
      </div>
   </div>
  
  
</div>
{% endblock %}
