{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block css %}
{% endblock %}


{% block content %}
    		<!-- Начало секции героя -->
			<div class="hero shadow-lg bg-body-tertiary rounded">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Морозильные лари <span class="d-block">для любых нужд</span></h1>
								{% comment %} <p class="mb-4">Выберите морозильный ларь, который идеально подойдет для вашего бизнеса или дома. Высокое качество и надежность гарантированы!</p> {% endcomment %}
								<p>
									<a href="{% url "products:shop" %}" class="btn btn-secondary me-2">Купить сейчас</a>
									{% comment %} <a href="#" class="btn btn-white-outline">Узнать больше</a> {% endcomment %}
								</p>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="hero-img-wrap">
								<img src="{% static "main/images/freezer.png" %}" class="img-fluid" style="width: 460px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- Конец секции героя -->

		<!-- Начало секции продуктов -->
		<div class="product-section">
			<div class="container">
				<div class="row">
					<!-- Колонка 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Сделано из лучших материалов</h2>
						<p class="mb-4">Наши морозильные лари изготовлены из качественных материалов, обеспечивающих долгую службу и надежность.</p>
						<p><a href="shop.html" class="btn">Узнать больше</a></p>
					</div> 
					<!-- Конец колонки 1 -->

					<!-- Продукт 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="/shop/product/frostor-s-gluhoj-kryshkoj-f-180-s/">
							<div class="product-image-wrapper">
							<img src="{% static "main/images/product-1.png" %}" class="img-fluid product-thumbnail">
							</div>
							<h3 class="product-title">Frostor F 215S</h3>
							<strong class="product-price">50 000 ₽</strong>
						</a>
					</div> 

					<!-- Продукт 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="/shop/product/gellar-fg-250-c/">
							<div class="product-image-wrapper">
							<img src="{% static "main/images/product-2.png" %}" class="img-fluid product-thumbnail">
							</div>
							<h3 class="product-title">Gellar FG 250 E</h3>
							<strong class="product-price">78 000 ₽</strong>
						</a>
					</div>

					<!-- Продукт 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="/shop/product/frostor-s-gluhoj-kryshkoj-f-180-s/">
							<div class="product-image-wrapper">
							<img src="{% static "main/images/product-3.png" %}" class="img-fluid product-thumbnail">
							</div>
							<h3 class="product-title">Frostor F 180 C</h3>
							<strong class="product-price">43 000 ₽</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Конец секции продуктов -->

		<!-- Секция "Почему выбирают нас" -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Почему выбирают нас</h2>
						<p>Мы предлагаем только лучшие решения для хранения продуктов и материалов при низких температурах.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static "main/images/truck.svg" %}" alt="Доставка" class="imf-fluid">
									</div>
									<h3>Быстрая доставка</h3>
									<p>Оперативная и бесплатная доставка на дом или в офис.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static "main/images/bag.svg" %}" alt="Удобство покупки" class="imf-fluid">
									</div>
									<h3>Удобная покупка</h3>
									<p>Простой и интуитивно понятный процесс выбора и оформления заказа.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static "main/images/support.svg" %}" alt="Поддержка" class="imf-fluid">
									</div>
									<h3>Круглосуточная поддержка</h3>
									<p>Мы всегда на связи, чтобы помочь вам с выбором и консультацией.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static "main/images/return.svg" %}" alt="Возврат" class="imf-fluid">
									</div>
									<h3>Легкий возврат</h3>
									<p>Без проблем возвращайте товар, если он вам не подошел.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static "main/images/why-choose-us-img.jpg" %}" alt="Почему мы" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Конец секции "Почему выбирают нас" -->

		<!-- Начало Секции "Мы Помогаем" -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							{% comment %} <div class="grid grid-1"><img src="{% static "images/img-grid-1.jpg" %}" alt="Untree.co"></div> {% endcomment %}
							<div class="grid grid-2"><img src="{% static "main/images/interior.jpg" %}" alt="Untree.co"></div>
							{% comment %} <div class="grid grid-3"><img src="{% static "images/img-grid-3.jpg" %}" alt="Untree.co"></div> {% endcomment %}
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Мы Помогаем Создать Современный Интерьер</h2>
						<p>Мы предлагаем решения, которые облегчат создание стильного и функционального интерьера. Сделайте шаг к удобству и современному дизайну с нашими морозильными ларями. Они идеально подойдут для вашего дома или бизнеса.</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Энергоэффективные и надежные решения</li>
							<li>Разнообразие моделей для любых потребностей</li>
							<li>Современный дизайн, подходящий к любому интерьеру</li>
							<li>Гарантия качества и долгий срок службы</li>
						</ul>
						{% comment %} <p><a href="#" class="btn">Подробнее</a></p> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
		<!-- Конец Секции "Мы Помогаем" -->

{% endblock %}


{% block footer %}
<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">
        <!-- Footer Content -->
        <div class="row justify-content-between">

						 <!-- Links Section -->
						 <div class="col-lg-4 mb-4">
							<h5 class="mb-4">Полезные ссылки</h5>
							<ul class="list-unstyled">
								<li class="mb-2"><a href="{% url "main:contacts" %}" class="text-dark">Контакты</a></li>
								<li><i class="fas fa-phone"></i> Телефон: <a href="tel:+74951234567">+7 (495) 123-45-67</a></li>
                				<li><i class="fas fa-envelope"></i> Email: <a href="mailto:info@morozo.ru">info@morozo.ru</a></li>
								<li class="mb-2"><a href="#" class="text-dark">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Links Section -->

            <!-- Subscription Form -->
            <div class="col-lg-4 mb-lg-0">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center mb-4">
                        <span class="me-2">
                            <img src="{% static 'main/images/envelope-outline.svg' %}" alt="Newsletter" class="img-fluid" style="width: 30px;">
                        </span>
                        <span>Подпишитесь на нашу рассылку</span>
                    </h3>
                    <form action="#" class="row g-3">
                        <div class="col-12 mb-2">
                            <input type="text" class="form-control" placeholder="Ваше имя">
                        </div>
                        <div class="col-12 mb-2">
                            <input type="email" class="form-control" placeholder="Ваша почта">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100">
                                <span class="fa fa-paper-plane"></span> Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Subscription Form -->

            <!-- Logo and Social Links -->
            <div class="col-lg-4 text-center">
                <div class="footer-logo-wrap mb-4">
                    <a href="#" class="footer-logo">Морозко<span>.</span></a>
                </div>
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                </ul>
            </div>
            <!-- End Logo and Social Links -->

        </div>

        <!-- Footer Bottom -->
        <div class="border-top pt-4">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <p class="mb-0">&copy; 2025 Морозко. Все права защищены.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex">
                        <li class="me-4">
                            <a href="#" class="text-dark">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</footer>
<!-- End Footer Section -->
{% endblock %}

