{% include "base.html" %}

{% load static %}

<style>
    #timer {
        font-family: sans-serif;
        font-size: 24px;
        color: blue;
        font-weight: bold;
        display: inline-block;
    }
</style>

{% block title %}
    <title>Email Confirmation</title>
{% endblock title %}

{% block content %}

<div class="container bg-white shadow-md p-3 mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Email Successfully Confirmed</h4>
        <p>Your email address has been successfully verified. Thank you for registering with us!</p>
        <p>You will be redirected to the home page in <span id="timer"></span> seconds.</p>
    </div>
</div>

<script>
    // Redirect after a countdown
    document.addEventListener("DOMContentLoaded", function () {
        // Set the initial timer value
        let timerValue = 7;
        const timerElement = document.getElementById("timer");
        timerElement.textContent = timerValue;

        // Start countdown
        const interval = setInterval(() => {
            timerValue--;
            timerElement.textContent = timerValue;

            // When the timer reaches 0, redirect to the home page
            if (timerValue === 0) {
                clearInterval(interval);
                window.location.href = '/shop/';
            }
        }, 1000);
    });
</script>

{% endblock content %}
