{% include "base.html" %}

{% load static %}

<style>
    #timer {
        font-family: sans-serif;
        font-size: 24px;
        color: blue;
        font-weight: bold;
        display: inline-block;
    }
</style>

{% block title %}
    <title>Подтверждение электронной почты</title>
{% endblock title %}

{% block content %}

<div class="container bg-white shadow-md p-3 mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Электронная почта успешно подтверждена</h4>
        <p>Ваш адрес электронной почты был успешно подтвержден. Спасибо за регистрацию!</p>
        <p>Вы будете перенаправлены на главную страницу через <span id="timer"></span> секунд.</p>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let timerValue = 7;
        const timerElement = document.getElementById("timer");
        timerElement.textContent = timerValue;

        const interval = setInterval(() => {
            timerValue--;
            timerElement.textContent = timerValue;

            if (timerValue === 0) {
                clearInterval(interval);
                window.location.href = '/shop/';
            }
        }, 1000);
    });
</script>

{% endblock content %}
