{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block css %}
{% endblock %}

{% block content %}
		<!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Ассортимент</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div id="myBtnContainer" class="btn-container">
                            {% for category in categories %}
                            <a href="{% url "products:category-filter" category.slug %}">
                                <button class="btn-filter {% if request.resolver_match.kwargs.category_slug == category.slug %}active{% endif %}">
                                    {{ category.name }}
                                </button>
                            </a>
                            {% endfor %}
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
        
        
        
    <!-- End Hero Section -->

    

    <div class="untree_co-section product-section before-footer-section">
        <div class="container">
            <div class="row ">

                  <!-- Start Column 1 -->
                {% for product in products %}
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="{% url "products:product-detail" product.slug %}">
                        {% if product.image %}
                        <div class="product-image-wrapper">
                            <img src="{{ product.image.url }}" class="img-fluid product-thumbnail" alt="{{ product.title }}">
                            {% if product.discount %}
                            <span class="product-discount">-{{ product.discount }}%</span>
                            {% endif %}
                        </div>
                        {% else %}
                        <img src="{% static "main/images/Not found image.png" %}" class="img-fluid product-thumbnail" alt="{{ product.title }}">
                            {% if product.discount %}
                            <span class="product-discount">-{{ product.discount }}%</span>
                            {% endif %}
                        {% endif %}
                        <h3 class="product-title">{{ product.title }}</h3>
                        <strong class="product-price">
                            {% if product.discount %}
                            <span class="original-price">${{ product.price }}</span>
                            ${{ product.get_discounted_price }}
                            {% else %}
                            ${{ product.price }}
                            {% endif %}
                        </strong>
                        <span class="icon-cross">
                            <img src="{% static "main/images/cross.svg" %}" class="img-fluid">
                        </span>
                    </a>
                </div>
                {% endfor %}

              </div>
                <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                            <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}{% else %}#{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>

<script>
    document.addEventListener('click', function(e) {
        if (e.target && e.target.id === 'add-button') {
            e.preventDefault();
            const addButton = e.target;

            $.ajax({
                type: 'POST',
                url: '{% url "cart:cart_add" %}',
                data: {
                    product_id: addButton.value,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(response) {
                    document.getElementById('lblCartCount').textContent = response.qty;
                    addButton.disabled = true;
                    addButton.innerText = "Added to Cart";
                    addButton.className = "btn btn-success btn-sm";
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
    });

{% endblock %}


{% block footer %}
<footer class="footer-section">
    <div class="container relative">

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center"><span class="me-1"><img src="{% static "main/images/envelope-outline.svg" %}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
                <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Knowledge base</a></li>
                            <li><a href="#">Live chat</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Our team</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Nordic Chair</a></li>
                            <li><a href="#">Kruzo Aero</a></li>
                            <li><a href="#">Ergonomic Chair</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>
{% endblock %}