{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block css %}
{% endblock %}

{% block content %}
		<!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Ассортимент</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div id="myBtnContainer" class="btn-container">
                            {% for category in categories %}
                            <a href="{% url "products:category-filter" category.slug %}">
                                <button class="btn-filter {% if request.resolver_match.kwargs.category_slug == category.slug %}active{% endif %}">
                                    {{ category.name }}
                                </button>
                            </a>
                            {% endfor %}
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
        
        
        
    <!-- End Hero Section -->

    

    <div class="untree_co-section product-section before-footer-section">
        <div class="container">
            <div class="row ">

                  <!-- Start Column 1 -->
                {% for product in products %}
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="{% url "products:product-detail" product.slug %}">
                        {% if product.image %}
                        <div class="product-image-wrapper">
                            <img src="{{ product.image.url }}" class="img-fluid product-thumbnail" alt="{{ product.title }}">
                            {% if product.discount %}
                            <span class="product-discount">-{{ product.discount }}%</span>
                            {% endif %}
                        </div>
                        {% else %}
                        <img src="{% static "main/images/Not found image.png" %}" class="img-fluid product-thumbnail" alt="{{ product.title }}">
                            {% if product.discount %}
                            <span class="product-discount">-{{ product.discount }}%</span>
                            {% endif %}
                        {% endif %}
                        <h3 class="product-title">{{ product.title }}</h3>
                        <strong class="product-price">
                            {% if product.discount %}
                            <span class="original-price">₽{{ product.price }}</span>
                            ₽{{ product.get_discounted_price }}
                            {% else %}
                            ₽{{ product.price }}
                            {% endif %}
                        </strong>
                        <span class="icon-cross">
                            <img src="{% static "main/images/cross.svg" %}" class="img-fluid">
                        </span>
                    </a>
                </div>
                {% endfor %}

              </div>
                <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                            <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}{% else %}#{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>

<script>
    document.addEventListener('click', function(e) {
        if (e.target && e.target.id === 'add-button') {
            e.preventDefault();
            const addButton = e.target;

            $.ajax({
                type: 'POST',
                url: '{% url "cart:cart_add" %}',
                data: {
                    product_id: addButton.value,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(response) {
                    document.getElementById('lblCartCount').textContent = response.qty;
                    addButton.disabled = true;
                    addButton.innerText = "Added to Cart";
                    addButton.className = "btn btn-success btn-sm";
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
    });
</script>
{% endblock %}


{% block footer %}
<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">
        <!-- Footer Content -->
        <div class="row justify-content-between">

						 <!-- Links Section -->
						 <div class="col-lg-4 mb-4">
							<h5 class="mb-4">Полезные ссылки</h5>
							<ul class="list-unstyled">
								<li class="mb-2"><a href="{% url "main:contacts" %}" class="text-dark">Контакты</a></li>
								<li><i class="fas fa-phone"></i> Телефон: <a href="tel:+74951234567">+7 (495) 123-45-67</a></li>
                                <li><i class="fas fa-envelope"></i> Email: <a href="mailto:kzn.morozko@gmail.com">kzn.morozko@gmail.com</a></li>
								<li class="mb-2"><a href="#" class="text-dark">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Links Section -->

            <!-- Subscription Form -->
            <div class="col-lg-4 mb-lg-0">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center mb-4">
                        <span class="me-2">
                            <img src="{% static 'main/images/envelope-outline.svg' %}" alt="Newsletter" class="img-fluid" style="width: 30px;">
                        </span>
                        <span>Подпишитесь на нашу рассылку</span>
                    </h3>
                    <form action="#" class="row g-3">
                        <div class="col-12 mb-2">
                            <input type="text" class="form-control" placeholder="Ваше имя">
                        </div>
                        <div class="col-12 mb-2">
                            <input type="email" class="form-control" placeholder="Ваша почта">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100">
                                <span class="fa fa-paper-plane"></span> Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Subscription Form -->

            <!-- Logo and Social Links -->
            <div class="col-lg-4 text-center">
                <div class="footer-logo-wrap mb-4">
                    <a href="#" class="footer-logo">Морозко<span>.</span></a>
                </div>
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                </ul>
            </div>
            <!-- End Logo and Social Links -->

        </div>

        <!-- Footer Bottom -->
        <div class="border-top pt-4">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <p class="mb-0">&copy; 2025 Морозко. Все права защищены.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex">
                        <li class="me-4">
                            <a href="#" class="text-dark">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</footer>
<!-- End Footer Section -->
{% endblock %}