{% extends "base.html" %}
{% load static %}
{% load products_tags %}
{% load mathfilters %}

{% block css %}
<!-- Add custom styles if necessary -->
{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Корзина</h1>
                </div>
            </div>
            <div class="col-lg-7"></div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Shopping Cart Section -->
<div class="untree_co-section before-footer-section">
    <div class="container">
        <form method="post" class="row mb-5">
            {% csrf_token %}
            <div class="site-blocks-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="">Image</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-total">Total</th>
                            <th class="product-remove">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        <tr>
                            <td class="product-thumbnail">
                                <img src="{{ item.product.image.url }}" alt="Image" class="img-fluid">
                            </td>
                            <td class="product-name">
                                <h2 class="h5 text-black">{{ item.product.title }}</h2>
                            </td>
                            <td>${{ item.product.price }}</td>
                            <td>
                              <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                                <div class="input-group-prepend">
                                  <button class="btn btn-outline-black decrement" type="button" 
                                          data-cart-id="{{ item.product.id }}" 
                                          data-cart-change-url="{% url 'cart:cart_update' %}">
                                    {% csrf_token %}
                                    &minus;
                                  </button>
                                </div>
                                <input type="text" class="form-control text-center number" value="{{ item.quantity }}" readonly id="qty-{{ item.product.id }}">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-black increment" type="button" 
                                          data-cart-id="{{ item.product.id }}" 
                                          data-cart-change-url="{% url 'cart:cart_update' %}">
                                    {% csrf_token %}
                                    &plus;
                                  </button>
                                </div>
                              </div>
                            </td>
                            <td id="total-price-{{ item.product.id }}">$ {{ item.product.price|mul:item.quantity }}</td>

                            <td>
                                <button type="button" class="btn btn-black btn-sm delete-button" data-id="{{ item.product.id }}">X</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>

        <!-- Cart Summary -->
        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <a href="{% url 'products:shop' %}" class="btn btn-outline-black btn-sm btn-block">Continue Shopping</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="text-black h4" for="coupon">Coupon</label>
                        <p>Enter your coupon code if you have one.</p>
                        <div class="d-flex">
                            <input type="text" class="form-control py-3 me-2" id="coupon" placeholder="Coupon Code">
                            <button class="btn btn-black">Apply Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="border-bottom mb-5">
                            <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                              <span class="text-black">Subtotal</span>
                            </div>
                            <div class="col-md-6 text-right">
                              <strong class="text-black" id="cart-subtotal">${{ cart.get_total_price }}</strong>
                            </div>
                          </div>
                          <div class="row mb-5">
                            <div class="col-md-6">
                              <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                              <strong class="text-black" id="total">${{ cart.get_total_price }}</strong>
                            </div>
                          </div>
                          
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-black btn-lg py-3 btn-block">Proceed To Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shopping Cart Section -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  $(document).on('click', '.delete-button', function(e) {
    e.preventDefault();

    var product_id = $(this).data('id');  

    $.ajax({
        type: 'POST',
        url: '{% url "cart:cart_delete" %}', 
        data: {
            product_id: product_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(response) {
            document.getElementById('lblCartCount').textContent = response.qty;
            document.getElementById('total').textContent = response.total;

            location.reload();
        },
        error: function(error, status) {
            console.log(error);
        }
    });
});

// Global queue to ensure AJAX requests are sequential
let updateQueue = Promise.resolve();

function queueUpdate(updateFunction) {
    updateQueue = updateQueue.then(updateFunction).catch(console.error);
}

// Event listener for increment/decrement buttons
document.querySelectorAll('.increment, .decrement').forEach(button => {
    button.addEventListener('click', function () {
        const cartId = this.getAttribute('data-cart-id');
        const isIncrement = this.classList.contains('increment');
        const quantityInput = document.getElementById('qty-' + cartId);
        let quantity = parseInt(quantityInput.value);

        // Adjust quantity based on the button clicked
        if (isIncrement) {
            quantity += 1;
        } else if (quantity > 1) {
            quantity -= 1;
        }

        // Queue the AJAX update
        queueUpdate(() => {
            return fetch("{% url 'cart:cart_update' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: `cart_id=${cartId}&quantity=${quantity}`
            })
            .then(response => response.json())
            .then(data => {
                // Update UI based on server response
                quantityInput.value = data.quantity;
                document.getElementById('total-price-' + cartId).textContent = `$${data.total_price}`;
                document.getElementById('total').textContent = `$${data.cart_total}`;
                document.getElementById('cart-subtotal').textContent = `$${data.cart_total}`;

                location.reload();
            });
        });
    });
});

  
  
</script>
{% endblock %}

{% block footer %}
<!-- Footer Section -->
<footer class="footer-section">
    <div class="container relative">
        <!-- Newsletter Subscription -->
        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center">
                        <span class="me-1">
                            <img src="{% static 'main/images/envelope-outline.svg' %}" alt="Newsletter" class="img-fluid">
                        </span>
                        <span>Subscribe to Newsletter</span>
                    </h3>
                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Footer Links -->
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="footer-logo-wrap">
                    <a href="#" class="footer-logo">Furni<span>.</span></a>
                </div>
                <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada.</p>
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="text-center text-lg-start">Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex">
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
