{% extends "base.html" %}
{% load static %}
{% load products_tags %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block content %}
<style>
  .input-group {
    position: relative;
}

.input-group-text {
    background: #fff;
    border: 1px solid #ced4da;
    border-left: none;
    display: flex;
    align-items: center;
}

.input-group input {
    border-right: none;
}

</style>
<div class="container">
    <div class="login-container">
      <div class="login-box">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="button-container">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <div class="text-center d-flex flex-row mb-3">
            <a href="{% url 'account:password_reset' %}"><div class="p-2">Forgot Password?</div></a>
            <a href="{% url "account:register" %}"><div class="p-2">Register</div></a>
          </div>
        </form>
      </div>
    </div>
  </div>  

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const passwordInput = document.getElementById("id_password");
        const togglePassword = document.getElementById("toggle-password");
        const icon = togglePassword.querySelector("i");

        togglePassword.addEventListener("click", function () {
            // Переключение типа поля
            const isPassword = passwordInput.type === "password";
            passwordInput.type = isPassword ? "text" : "password";

            // Смена иконки
            icon.classList.toggle("fa-eye");
            icon.classList.toggle("fa-eye-slash");
        });
    });
</script>

{% endblock %}


{% block footer %}


{% endblock %}