{% extends "base.html" %}
{% load static %}
{% load products_tags %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
      <div class="login-box">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="button-container">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <div class="text-center d-flex flex-row mb-3">
            <a href="/reset-password"><div class="p-2">Forgot Password?</div></a>
            <a href="{% url "account:register" %}"><div class="p-2">Register</div></a>
          </div>
        </form>
      </div>
    </div>
  </div>  
{% endblock %}


{% block footer %}


{% endblock %}