{% extends "base.html" %}
{% load static %}
{% load products_tags %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
      <div class="login-box">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="button-container">
              <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </form>
          <div class="text-center mt-3">
            <a href="{% url "account:login" %}">Уже есть аккунт? Зайти</a>
          </div>
        </form>
      </div>
    </div>
</div>  
{% endblock %}

{% block footer %}
{% endblock %}
