{% include "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container bg-white shadow-sm rounded p-4 mt-5" style="max-width: 500px;">
    <h3 class="text-center mb-4">
        Сбросить пароль</h3>
    <p class="text-muted text-center mb-4">
        Введите свой адрес электронной почты ниже, и мы вышлем вам инструкции по сбросу пароля.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">
                Сбросить пароль</button>
        </div>
    </form>
</div>
{% endblock %}
