{% include "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="bg-white shadow rounded p-4 text-center" style="width: 100%; max-width: 400px;">
        <h3 class="mb-3">Письмо для сброса пароля отправлено</h3>
        <p class="text-muted mb-4">
            Пожалуйста, проверьте свою электронную почту, чтобы получить инструкции по сбросу пароля. Если вы не видите письмо, проверьте папку «Спам».
        </p>
        <a href="{% url 'account:login' %}" class="d-grid">
            <button class="btn btn-primary btn-block">Вернуться к логину</button>
        </a>
    </div>
</div>
{% endblock content %}
