{% extends "base.html" %}
{% load static %}
{% load carts_tags %}
{% load mathfilters %}

{% block css %}
<style>
    .alert-container {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1050;
        width: 80%;
        max-width: 400px;
    }

    .alert-container .alert {
        margin-bottom: 5px;
    }
</style>

{% endblock %}

{% block content %}
<div class="untree_co-section before-footer-section">
    <div class="container">
        <!-- Заголовок -->
        <h1 class="text-center mb-4">Корзина</h1>

        <!-- Разметка корзины -->
        <div class="container" id="cart-items-container">
            {% user_carts request as cart %}
            {% include "cart/includes/included_cart.html" %}
                    <!-- Cart Summary -->
        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <a href="{% url 'products:shop' %}" class="btn btn-outline-black btn-sm btn-block">Продолжить покупки</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="border-bottom mb-5">
                            <h3 class="text-black h4 text-uppercase">Итоговая корзина</h3>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Товаров:</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black" id="cart-subtotal">{{ cart.total_quantity }}</strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">На сумму:</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black" id="total">₽{{ cart.total_price }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        {% if messages.error %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} fade show" role="alert">
            <strong>{% if message.tags == 'error' %}Ошибка:{% endif %} </strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>        
        {% endif %}


        <!-- Детали заказа -->
        <div class="container mt-5">
            <h3 class="text-center">Детали заказа</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <form action="{% url 'orders:create_order' %}" method="post" id="create_order_form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="id_first_name" class="form-label">Имя*:</label>
                                <input type="text" class="form-control" id="id_first_name"
                                    value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                    name="first_name" required>
                                {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ form.first_name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="id_last_name" class="form-label">Фамилия*:</label>
                                <input type="text" class="form-control" id="id_last_name" name="last_name"
                                    value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                    required>
                                {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ form.last_name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="id_phone_number" class="form-label">Номер телефона*:</label>
                                <input type="text" class="form-control" id="id_phone_number" name="phone_number"
                                    value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                                    placeholder="+7 999 999 99 99" required>
                                {% if form.phone_number.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ form.phone_number.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="delivery" class="form-label">Способ доставки:</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="requires_delivery"
                                        id="id_requires_delivery_1" value="1" checked>
                                    <label class="form-check-label" for="id_requires_delivery_1">Нужна доставка</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="requires_delivery"
                                        id="id_requires_delivery_0" value="0">
                                    <label class="form-check-label" for="id_requires_delivery_0">Самовывоз</label>
                                </div>
                            </div>
                            <div class="mb-3" id="deliveryAddressField">
                                <label for="id_delivery_address" class="form-label">Адрес доставки*:</label>
                                <textarea class="form-control" id="id_delivery_address"
                                    name="delivery_address" rows="2"></textarea>
                                {% if form.delivery_address.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ form.delivery_address.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3" id="deliveryAddressField">
                                <label for="id_zip_code" class="form-label">Zip Код*:</label>
                                <textarea class="form-control" id="id_zip_code" name="zip_code" rows="1"></textarea>
                                {% if form.zip_code.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ form.zip_code.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Способ оплаты:</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="payment_on_get"
                                        id="id_payment_on_get_1" value="1" checked>
                                    <label class="form-check-label" for="id_payment_on_get_1">Оплата при получении</label>
                                </div>
                                {% if form.payment_on_get.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ form.payment_on_get.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Оформить заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('create_order_form').addEventListener('submit', async function (event) {
        event.preventDefault(); // Отключаем стандартное поведение отправки формы
    
        const form = event.target;
        const formData = new FormData(form);
        const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
    
        try {
            const response = await fetch(form.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                },
                body: formData,
            });
    
            const result = await response.json();
    
            if (result.status === 'error') {
                // Раскодируем сообщение об ошибке
                const errorMessage = JSON.parse(result.message).join("<br>");
                showMessage(errorMessage, 'danger'); 
            } else if (result.status === 'success') {
                showMessage(result.message, 'success'); 
                setTimeout(() => {
                    window.location.href = '/account/users-cart'; 
                }, 3000);
            }
        } catch (error) {
            console.error('Ошибка при отправке формы:', error);
            showMessage('Произошла ошибка. Попробуйте позже. Возможно товара нет на складе', 'danger');
        }
    });
    
    function showMessage(message, type) {
        let container = document.querySelector('.alert-container');
        if (!container) {
            container = document.createElement('div');
            container.className = 'alert-container';
            document.body.appendChild(container);
        }
    
        const alert = document.createElement('div');
        alert.className = `alert alert-${type} alert-dismissible fade show`;
        alert.role = 'alert';
        alert.innerHTML = `
            ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;
        container.appendChild(alert);
    
        setTimeout(() => {
            alert.remove();
            if (container.children.length === 0) {
                container.remove();
            }
        }, 5000);
    }
    
    
    document.addEventListener('DOMContentLoaded', function () {
        const requiresDeliveryRadios = document.querySelectorAll('input[name="requires_delivery"]');
        const deliveryAddressField = document.getElementById('id_delivery_address').closest('.mb-3');
        const zipCodeField = document.getElementById('id_zip_code').closest('.mb-3');
    
        function toggleDeliveryFields() {
            const requiresDelivery = document.querySelector('input[name="requires_delivery"]:checked').value === '1';
            if (requiresDelivery) {
                deliveryAddressField.style.display = 'block';
                zipCodeField.style.display = 'block';
            } else {
                deliveryAddressField.style.display = 'none';
                zipCodeField.style.display = 'none';
            }
        }
    
        // Инициализация при загрузке страницы
        toggleDeliveryFields();
    
        // Обработчик изменения радиокнопок
        requiresDeliveryRadios.forEach(radio => {
            radio.addEventListener('change', toggleDeliveryFields);
        });
    });
    
</script>

{% endblock %}

{% block footer %}
<!-- Footer content -->
{% endblock %}
